/* Leaderboard.css */

.leaderboard-container {
    margin: 1rem auto;
    padding: 4rem;
}

/* Carousel container for future game modes (Configurable game mode) */
.leaderboard-carousel {
    display: flex;
    overflow-x: scroll;
    gap: 5rem;
    scroll-snap-type: x mandatory;
    padding: 1rem 0; 
  }
  
.leaderboard-carousel::-webkit-scrollbar {
    height: 8px;
}
.leaderboard-carousel::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}
.leaderboard-carousel::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
}
  
.leaderboard-section {
    width: 100%;
    scroll-snap-align: start;
}

/* Showing smaller items in PC */
@media (min-width: 1440px) {
    .carousel-item {
        flex: 0 0 25%;
    }
}
  
.section-title {
    margin: 1rem 0;
}
  
.leaderboard-card {
    margin-bottom: 1rem;
    width: 100%;
    max-height: 44rem;      /* 4 rem per list item (10 items max.) + 4rem (margins and dividers) */
    height: auto;           /* Shrink to match fewer than 10 */
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}
  
.leaderboard-card:hover {
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.25);
}
  
.list-item {
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    background-color: transparent;
    border-radius: 0.5rem;
}
  
.MuiListItem-root.list-item.highlighted {
    background-color: rgba(255, 215, 0, 0.2);
    font-weight: bold;
    border-left: 5px solid gold;
}

.MuiDivider-root {
    margin: 0;
    height: 1px;
}
  